In [1]:
import pandas as pd
df_excel = pd.read_excel(r'C:\Users\FRED\Desktop\FreeCodeCamp- Data Analyst BootCamp for Beginners\Pandas Reading Files\vgsales.xlsx')
df_excel

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
0,1,Wii Sports,Wii,2006.0,Sports,Nintendo,41.49,29.02,3.77,8.46,82.74
1,2,Super Mario Bros.,NES,1985.0,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24
2,3,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,15.85,12.88,3.79,3.31,35.82
3,4,Wii Sports Resort,Wii,2009.0,Sports,Nintendo,15.75,11.01,3.28,2.96,33.00
4,5,Pokemon Red/Pokemon Blue,GB,1996.0,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31.37
...,...,...,...,...,...,...,...,...,...,...,...
16593,16596,Woody Woodpecker in Crazy Castle 5,GBA,2002.0,Platform,Kemco,0.01,0.00,0.00,0.00,0.01
16594,16597,Men in Black II: Alien Escape,GC,2003.0,Shooter,Infogrames,0.01,0.00,0.00,0.00,0.01
16595,16598,SCORE International Baja 1000: The Official Game,PS2,2008.0,Racing,Activision,0.00,0.00,0.00,0.00,0.01
16596,16599,Know How 2,DS,2010.0,Puzzle,7G//AMES,0.00,0.01,0.00,0.00,0.01
16597,16600,Spirits & Spells,GBA,2003.0,Platform,Wanadoo,0.01,0.00,0.00,0.00,0.01

In [2]:
df_excel[df_excel['Rank'] <= 5]

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
0,1,Wii Sports,Wii,2006.0,Sports,Nintendo,41.49,29.02,3.77,8.46,82.74
1,2,Super Mario Bros.,NES,1985.0,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24
2,3,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,15.85,12.88,3.79,3.31,35.82
3,4,Wii Sports Resort,Wii,2009.0,Sports,Nintendo,15.75,11.01,3.28,2.96,33.00
4,5,Pokemon Red/Pokemon Blue,GB,1996.0,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31.37

In [3]:
specific_genre = ['Sports', 'Racing']
df_excel[df_excel['Genre'].isin(specific_genre)]

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
0,1,Wii Sports,Wii,2006.0,Sports,Nintendo,41.49,29.02,3.77,8.46,82.74
2,3,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,15.85,12.88,3.79,3.31,35.82
3,4,Wii Sports Resort,Wii,2009.0,Sports,Nintendo,15.75,11.01,3.28,2.96,33.00
11,12,Mario Kart DS,DS,2005.0,Racing,Nintendo,9.81,7.57,4.13,1.92,23.42
13,14,Wii Fit,Wii,2007.0,Sports,Nintendo,8.94,8.03,3.60,2.15,22.72
...,...,...,...,...,...,...,...,...,...,...,...
16578,16581,Outdoors Unleashed: Africa 3D,3DS,2011.0,Sports,Mastiff,0.01,0.00,0.00,0.00,0.01
16579,16582,PGA European Tour,N64,2000.0,Sports,Infogrames,0.01,0.00,0.00,0.00,0.01
16581,16584,Fit & Fun,Wii,2011.0,Sports,Unknown,0.00,0.01,0.00,0.00,0.01
16587,16590,Mezase!! Tsuri Master DS,DS,2009.0,Sports,Hudson Soft,0.00,0.00,0.01,0.00,0.01
16595,16598,SCORE International Baja 1000: The Official Game,PS2,2008.0,Racing,Activision,0.00,0.00,0.00,0.00,0.01

In [4]:
df_excel[df_excel['Name'].str.contains('Wii')]

ValueError: Cannot mask with non-boolean array containing NA / NaN values

In [6]:
#Check if there are any null values in the column "Name"
df_excel[df_excel['Name'].isna()]

Empty DataFrame
Columns: [Rank, Name, Platform, Year, Genre, Publisher, NA_Sales, EU_Sales, JP_Sales, Other_Sales, Global_Sales]
Index: []

In [7]:
#Check the data types of each rows in the column "Name"
df_excel['Name'].apply(type).value_counts()

Name
<class 'str'>    16597
<class 'int'>        1
Name: count, dtype: int64

In [8]:
#Display the row of the integer data type in the column "Name"
df_excel[df_excel['Name'].apply(lambda x: isinstance(x, int))]

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
2059,2061,1942,NES,1985.0,Shooter,Capcom,0.65,0.14,0.21,0.0,1.0

In [9]:
#Display only the data in the column "Name" that is a integer
df_excel['Name'][df_excel['Name'].apply(lambda x: isinstance(x, int))]

2059    1942
Name: Name, dtype: object

In [10]:
#Convert all the data in the column "Name" to str
df_excel['Name'] = df_excel['Name'].astype(str)

In [11]:
df_excel[df_excel['Name'].str.contains('Wii')]

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
0,1,Wii Sports,Wii,2006.0,Sports,Nintendo,41.49,29.02,3.77,8.46,82.74
2,3,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,15.85,12.88,3.79,3.31,35.82
3,4,Wii Sports Resort,Wii,2009.0,Sports,Nintendo,15.75,11.01,3.28,2.96,33.00
7,8,Wii Play,Wii,2006.0,Misc,Nintendo,14.03,9.20,2.93,2.85,29.02
8,9,New Super Mario Bros. Wii,Wii,2009.0,Platform,Nintendo,14.59,7.06,4.70,2.26,28.62
13,14,Wii Fit,Wii,2007.0,Sports,Nintendo,8.94,8.03,3.60,2.15,22.72
14,15,Wii Fit Plus,Wii,2009.0,Sports,Nintendo,9.09,8.59,2.53,1.79,22.00
78,79,Wii Party,Wii,2010.0,Misc,Nintendo,1.79,3.53,2.49,0.68,8.49
97,98,Super Smash Bros. for Wii U and 3DS,3DS,2014.0,Fighting,Nintendo,3.24,1.35,2.42,0.43,7.45
203,204,Super Smash Bros. for Wii U and 3DS,WiiU,2014.0,Fighting,Nintendo,2.59,1.06,0.80,0.57,5.02
320,321,Big Brain Academy: Wii Degree,Wii,2007.0,Misc,Nintendo,1.06,1.93,0.41,0.43,3.82
412,413,Wii Music,Wii,2008.0,Misc,Nintendo,1.36,1.13,0.46,0.32,3.27
981,983,Wii Party U,WiiU,2013.0,Misc,Nintendo,0.31,0.54,0.84,0.08,1.77
1682,1684,PokÃƒÂ©Park Wii: Pikachu's Adventure,Wii,2009.0,Adventure,Nintendo,0.55,0.17,0.42,0.06,1.20
1833,1835,"Transformers: The Game (XBox 360, PS2, PS3, Wi...",PS2,2007.0,Action,Activision,0.63,0.37,0.00,0.11,1.11
2193,2195,Wii Play: Motion,Wii,2011.0,Misc,Nintendo,0.24,0.43,0.18,0.09,0.95
2348,2350,Wii Fit U,WiiU,2013.0,Sports,Nintendo,0.39,0.24,0.21,0.06,0.89
2812,2814,Just Dance Wii,Wii,2011.0,Misc,Nintendo,0.00,0.00,0.73,0.00,0.73
3025,3027,Taiko no Tatsujin Wii,Wii,2008.0,Misc,Namco Bandai Games,0.00,0.00,0.67,0.00,0.67
3089,3091,"Transformers: The Game (XBox 360, PS2, PS3, Wi...",PSP,2007.0,Action,Activision,0.23,0.27,0.00,0.16,0.66
3327,3329,"Transformers: The Game (XBox 360, PS2, PS3, Wi...",X360,2007.0,Action,Activision,0.51,0.05,0.00,0.05,0.61
3411,3413,"Transformers: The Game (XBox 360, PS2, PS3, Wi...",Wii,2007.0,Action,Activision,0.52,0.03,0.00,0.04,0.59
4354,4356,Transformers: Revenge of the Fallen (Wii & PS2...,DS,2009.0,Action,Activision,0.27,0.14,0.00,0.04,0.45
4789,4791,"Transformers: The Game (XBox 360, PS2, PS3, Wi...",PS3,2007.0,Action,Activision,0.32,0.04,0.01,0.04,0.40
4799,4801,Taiko no Tatsujin Wii: Dodon to 2 Yome!,Wii,2009.0,Misc,Namco Bandai Games,0.00,0.00,0.40,0.00,0.40
4852,4854,Wii Sports Club,WiiU,2014.0,Sports,Nintendo,0.19,0.14,0.04,0.03,0.40
4925,4927,Taiko no Tatsujin Wii: Ketteiban,Wii,2011.0,Misc,Namco Bandai Games,0.00,0.00,0.39,0.00,0.39
5926,5928,Taiko no Tatsujin Wii: Minna de Party * 3-Yome!,Wii,2010.0,Misc,Namco Bandai Games,0.00,0.00,0.30,0.00,0.30
6044,6046,Just Dance Wii 2,Wii,2012.0,Misc,Nintendo,0.00,0.00,0.29,0.00,0.29
6549,6551,Karaoke Joysound Wii,Wii,2008.0,Misc,Hudson Soft,0.01,0.00,0.25,0.00,0.26
7113,7115,101-in-1 Party Megamix Wii,Wii,2009.0,Misc,Nordcurrent,0.19,0.01,0.00,0.02,0.23
7392,7394,Yoga Wii,Wii,2009.0,Sports,JoWood Productions,0.15,0.05,0.00,0.02,0.21
7917,7919,Taiko no Tatsujin: Wii U Version!,WiiU,2013.0,Misc,Namco Bandai Games,0.00,0.00,0.19,0.00,0.19
9209,9211,Jikkyou Powerful Pro Yakyuu Wii,Wii,2007.0,Sports,Konami Digital Entertainment,0.00,0.00,0.14,0.00,0.14
10448,10450,Fatal Frame 2: Wii Edition,Wii,2012.0,Action,Nintendo,0.00,0.00,0.10,0.00,0.10
11031,11033,Karaoke Joysound Wii Super DX: Hitori de Minna...,Wii,2010.0,Misc,Hudson Soft,0.00,0.00,0.09,0.00,0.09
11100,11102,Momu-chan Diet Wii: Figurobics by Chon Dayon,Wii,2010.0,Misc,Hudson Soft,0.00,0.00,0.09,0.00,0.09
11189,11191,Karaoke Joysound Wii DX,Wii,2009.0,Misc,Hudson Soft,0.00,0.00,0.09,0.00,0.09
11236,11238,Just Dance Wii U,WiiU,2014.0,Misc,Nintendo,0.00,0.00,0.09,0.00,0.09
12048,12050,Billy's Boot Camp: Wii de Enjoy Diet!,Wii,2011.0,Sports,Rocket Company,0.00,0.00,0.07,0.00,0.07
12138,12140,Shin Chan: Las Nuevas Aventuras Para Wii!,Wii,2006.0,Action,505 Games,0.00,0.00,0.07,0.00,0.07
12977,12979,Mr Bean's Wacky World of Wii,Wii,2009.0,Adventure,Blast! Entertainment Ltd,0.00,0.05,0.00,0.00,0.05
13314,13316,Wii de Asobu Chibi-Robo!,Wii,2009.0,Adventure,Nintendo,0.00,0.00,0.05,0.00,0.05
14182,14184,Jikkyou Powerful Pro Yakyuu Wii Ketteiban,Wii,2007.0,Sports,Konami Digital Entertainment,0.00,0.00,0.03,0.00,0.03
14997,15000,Wii de Asobu: Metroid Prime,Wii,NaN,Shooter,Nintendo,0.00,0.00,0.02,0.00,0.02
14999,15002,Wii de Asobu: Metroid Prime,Wii,NaN,Shooter,Nintendo,0.00,0.00,0.02,0.00,0.02
15083,15086,G1 Jockey Wii,Wii,2007.0,Sports,Tecmo Koei,0.00,0.01,0.02,0.00,0.02
15278,15281,Jinsei Game Wii,Wii,2007.0,Misc,Takara Tomy,0.00,0.00,0.02,0.00,0.02
15330,15333,Katekyoo Hitman Reborn! Dream Hyper Battle! Wii,Wii,2008.0,Fighting,Marvelous Interactive,0.00,0.00,0.02,0.00,0.02
15636,15639,Haneru no Tobira Wii: Girigirissu,Wii,2007.0,Misc,Namco Bandai Games,0.00,0.00,0.02,0.00,0.02
16087,16090,Major Dream: Major Wii Nagero! Gyroball!!,Wii,2008.0,Sports,Takara Tomy,0.00,0.00,0.01,0.00,0.01
16253,16256,Doraemon Wii: Himitsu Douguou Ketteisen!,Wii,2007.0,Misc,Sega,0.00,0.00,0.01,0.00,0.01
16574,16577,Yattaman Wii: BikkuriDokkiri Machine de Mou Ra...,Wii,2008.0,Racing,Takara Tomy,0.00,0.00,0.01,0.00,0.01

In [18]:
#cleaning the column name
df_excel.columns = df_excel.columns.str.strip()

In [23]:
#changing index using the column name
df_excel = df_excel.set_index('Name')
df_excel

,Rank,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
Name,,,,,,,,,,
Wii Sports,1,Wii,2006.0,Sports,Nintendo,41.49,29.02,3.77,8.46,82.74
Super Mario Bros.,2,NES,1985.0,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24
Mario Kart Wii,3,Wii,2008.0,Racing,Nintendo,15.85,12.88,3.79,3.31,35.82
Wii Sports Resort,4,Wii,2009.0,Sports,Nintendo,15.75,11.01,3.28,2.96,33.00
Pokemon Red/Pokemon Blue,5,GB,1996.0,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31.37
...,...,...,...,...,...,...,...,...,...,...
Woody Woodpecker in Crazy Castle 5,16596,GBA,2002.0,Platform,Kemco,0.01,0.00,0.00,0.00,0.01
Men in Black II: Alien Escape,16597,GC,2003.0,Shooter,Infogrames,0.01,0.00,0.00,0.00,0.01
SCORE International Baja 1000: The Official Game,16598,PS2,2008.0,Racing,Activision,0.00,0.00,0.00,0.00,0.01
Know How 2,16599,DS,2010.0,Puzzle,7G//AMES,0.00,0.01,0.00,0.00,0.01
Spirits & Spells,16600,GBA,2003.0,Platform,Wanadoo,0.01,0.00,0.00,0.00,0.01

In [24]:
df_excel = df_excel.reset_index()
df_excel

,Name,Rank,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
0,Wii Sports,1,Wii,2006.0,Sports,Nintendo,41.49,29.02,3.77,8.46,82.74
1,Super Mario Bros.,2,NES,1985.0,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24
2,Mario Kart Wii,3,Wii,2008.0,Racing,Nintendo,15.85,12.88,3.79,3.31,35.82
3,Wii Sports Resort,4,Wii,2009.0,Sports,Nintendo,15.75,11.01,3.28,2.96,33.00
4,Pokemon Red/Pokemon Blue,5,GB,1996.0,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31.37
...,...,...,...,...,...,...,...,...,...,...,...
16593,Woody Woodpecker in Crazy Castle 5,16596,GBA,2002.0,Platform,Kemco,0.01,0.00,0.00,0.00,0.01
16594,Men in Black II: Alien Escape,16597,GC,2003.0,Shooter,Infogrames,0.01,0.00,0.00,0.00,0.01
16595,SCORE International Baja 1000: The Official Game,16598,PS2,2008.0,Racing,Activision,0.00,0.00,0.00,0.00,0.01
16596,Know How 2,16599,DS,2010.0,Puzzle,7G//AMES,0.00,0.01,0.00,0.00,0.01
16597,Spirits & Spells,16600,GBA,2003.0,Platform,Wanadoo,0.01,0.00,0.00,0.00,0.01

In [27]:
 df_excel.filter(items = ['Name', 'Publisher', 'Global_Sales'])

,Name,Publisher,Global_Sales
0,Wii Sports,Nintendo,82.74
1,Super Mario Bros.,Nintendo,40.24
2,Mario Kart Wii,Nintendo,35.82
3,Wii Sports Resort,Nintendo,33.00
4,Pokemon Red/Pokemon Blue,Nintendo,31.37
...,...,...,...
16593,Woody Woodpecker in Crazy Castle 5,Kemco,0.01
16594,Men in Black II: Alien Escape,Infogrames,0.01
16595,SCORE International Baja 1000: The Official Game,Activision,0.01
16596,Know How 2,7G//AMES,0.01
16597,Spirits & Spells,Wanadoo,0.01

In [31]:
 df_excel.filter(items = ['Name', 'Publisher', 'Global_Sales'], axis = 1)

,Name,Publisher,Global_Sales
0,Wii Sports,Nintendo,82.74
1,Super Mario Bros.,Nintendo,40.24
2,Mario Kart Wii,Nintendo,35.82
3,Wii Sports Resort,Nintendo,33.00
4,Pokemon Red/Pokemon Blue,Nintendo,31.37
...,...,...,...
16593,Woody Woodpecker in Crazy Castle 5,Kemco,0.01
16594,Men in Black II: Alien Escape,Infogrames,0.01
16595,SCORE International Baja 1000: The Official Game,Activision,0.01
16596,Know How 2,7G//AMES,0.01
16597,Spirits & Spells,Wanadoo,0.01

In [33]:
 df_excel.filter(items = [90,200], axis = 0)

,Name,Rank,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
90,Grand Theft Auto: Liberty City Stories,91,PSP,2005.0,Action,Take-Two Interactive,2.9,2.83,0.24,1.75,7.72
200,Super Mario Bros.,201,GB,1999.0,Platform,Nintendo,3.4,1.30,0.15,0.22,5.07

In [49]:
df_csv = pd.read_csv(r'C:\Users\FRED\Desktop\FreeCodeCamp- Data Analyst BootCamp for Beginners\Pandas Reading Files\Company_data(edited).csv')
df_csv = df_csv.set_index ('Name')
df_csv

,Industry,Revenue (USD millions),Revenue growth,Employees,Headquarters
Name,,,,,
Walmart,Retail,"648,125",6.00%,"2,100,000","Bentonville, Arkansas"
Amazon,Retail and cloud computing,"574,785",11.90%,"1,525,000","Seattle, Washington"
Apple,Electronics industry,"383,482",-2.80%,"161,000","Cupertino, California"
UnitedHealth Group,Healthcare,"371,622",14.60%,"440,000","Minnetonka, Minnesota"
Berkshire Hathaway,Conglomerate,"364,482",20.70%,"396,500","Omaha, Nebraska"
...,...,...,...,...,...
TIAA,Financials,"45,735",11.80%,"16,023","New York City, New York"
CHS,Agriculture cooperative,"45,590",-4.60%,"10,609","Inver Grove Heights, Minnesota"
Bristol-Myers Squibb,Pharmaceutical industry,"45,006",-2.50%,"34,100","New York City, New York"
Dow Chemical Company,Chemical industry,"44,622",-21.60%,"35,900","Midland, Michigan"
Best Buy,Retail,"43,452",-6.10%,"85,000","Richfield, Minnesota"

In [52]:
df_csv.filter(items = ['Walmart'], axis = 0 )

,Industry,Revenue (USD millions),Revenue growth,Employees,Headquarters
Walmart,Retail,"648,125",6.00%,"2,100,000","Bentonville, Arkansas"

In [55]:
df_csv.filter(like = 'Wal', axis = 0 )

,Industry,Revenue (USD millions),Revenue growth,Employees,Headquarters
Name,,,,,
Walmart,Retail,"648,125",6.00%,"2,100,000","Bentonville, Arkansas"
Walgreens Boots Alliance,Pharmaceutical industry,"139,081",4.80%,"268,500","Deerfield, Illinois"
The Walt Disney Company,Media,"88,898",7.50%,"199,125","Burbank, California"

In [58]:
df_csv.iloc[2]

Industry                   Electronics industry
Revenue (USD millions)                  383,482
Revenue growth                           -2.80%
Employees                               161,000
Headquarters              Cupertino, California
Name: Apple, dtype: object

In [62]:
df_csv.loc['Apple']

Industry                   Electronics industry
Revenue (USD millions)                  383,482
Revenue growth                           -2.80%
Employees                               161,000
Headquarters              Cupertino, California
Name: Apple, dtype: object

In [77]:
df_excel.sort_values(by = 'Year')

,Name,Rank,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
6896,Checkers,6898,2600,1980.0,Misc,Atari,0.22,0.01,0.0,0.00,0.24
2669,Boxing,2671,2600,1980.0,Fighting,Activision,0.72,0.04,0.0,0.01,0.77
5366,Freeway,5368,2600,1980.0,Action,Activision,0.32,0.02,0.0,0.00,0.34
1969,Defender,1971,2600,1980.0,Misc,Atari,0.99,0.05,0.0,0.01,1.05
1766,Kaboom!,1768,2600,1980.0,Misc,Activision,1.07,0.07,0.0,0.01,1.15
...,...,...,...,...,...,...,...,...,...,...,...
16307,Freaky Flyers,16310,GC,NaN,Racing,Unknown,0.01,0.00,0.0,0.00,0.01
16327,Inversion,16330,PC,NaN,Shooter,Namco Bandai Games,0.01,0.00,0.0,0.00,0.01
16366,Hakuouki: Shinsengumi Kitan,16369,PS3,NaN,Adventure,Unknown,0.01,0.00,0.0,0.00,0.01
16427,Virtua Quest,16430,GC,NaN,Role-Playing,Unknown,0.01,0.00,0.0,0.00,0.01
16493,The Smurfs,16496,3DS,NaN,Action,Unknown,0.00,0.01,0.0,0.00,0.01

In [81]:
df_excel[df_excel['Year'] > 2016].sort_values(by = 'Global_Sales')

,Name,Rank,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
16241,Phantasy Star Online 2 Episode 4: Deluxe Package,16244,PSV,2017.0,Role-Playing,Sega,0.00,0.0,0.01,0.00,0.01
16438,Brothers Conflict: Precious Baby,16441,PSV,2017.0,Action,Idea Factory,0.00,0.0,0.01,0.00,0.01
14390,Phantasy Star Online 2 Episode 4: Deluxe Package,14393,PS4,2017.0,Role-Playing,Sega,0.00,0.0,0.03,0.00,0.03
5957,Imagine: Makeup Artist,5959,DS,2020.0,Simulation,Ubisoft,0.27,0.0,0.00,0.02,0.29

In [80]:
df_excel[df_excel['Year'] > 2016].sort_values(by = ['Global_Sales' , 'Genre'] , ascending= True)

,Name,Rank,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
16438,Brothers Conflict: Precious Baby,16441,PSV,2017.0,Action,Idea Factory,0.00,0.0,0.01,0.00,0.01
16241,Phantasy Star Online 2 Episode 4: Deluxe Package,16244,PSV,2017.0,Role-Playing,Sega,0.00,0.0,0.01,0.00,0.01
14390,Phantasy Star Online 2 Episode 4: Deluxe Package,14393,PS4,2017.0,Role-Playing,Sega,0.00,0.0,0.03,0.00,0.03
5957,Imagine: Makeup Artist,5959,DS,2020.0,Simulation,Ubisoft,0.27,0.0,0.00,0.02,0.29