In [76]:
import pandas as pd
df_list = pd.read_excel(r"C:\Users\FRED\Desktop\FreeCodeCamp- Data Analyst BootCamp for Beginners\PandasYouTubeSeries\Customer Call List.xlsx")
df_list

,CustomerID,First_Name,Last_Name,Phone_Number,Address,Paying Customer,Do_Not_Contact,Not_Useful_Column
0,1001,Frodo,Baggins,123-545-5421,"123 Shire Lane, Shire",Yes,No,True
1,1002,Abed,Nadir,123/643/9775,93 West Main Street,No,Yes,False
2,1003,Walter,/White,7066950392,298 Drugs Driveway,N,NaN,True
3,1004,Dwight,Sc hrute,123-543-2345,"980 Paper Avenue, Pennsylvania, 18503",Yes,Y,True
4,1005,Jon,Snow white,876|678|3469,123 Dragons Road,Y,No,True
5,1006,Ron,Swa nson,304-762-2467,768 City Parkway,Yes,Yes,True
6,1007,Jeff,Winger,NaN,1209 South Street,No,No,False
7,1008,Sherlock,Holmes jr,876|678|3469,98 Clue Drive,N,No,False
8,1009,Gandalf,NaN,N/a,123 Middle Earth,Yes,NaN,False
9,1010,Peter,Parker,123-545-5421,"25th Main Street, New York",Yes,No,True
10,1011,Samwise,Gamgee,NaN,"612 Shire Lane, Shire",Yes,No,True
11,1012,Harry,...Potter,7066950392,2394 Hogwarts Avenue,Y,NaN,True
12,1013,Don,Draper,123-543-2345,2039 Main Street,Yes,N,False
13,1014,Leslie,Knope,876|678|3469,343 City Parkway,Yes,No,False
14,1015,Toby,Flenderson_,304-762-2467,214 HR Avenue,N,No,False
15,1016,Ron,Weasley,123-545-5421,2395 Hogwarts Avenue,No,N,False
16,1017,Michael,Scott,123/643/9775,"121 Paper Avenue, Pennsylvania",Yes,No,False
17,1018,Clark,Kent,7066950392,3498 Super Lane,Y,NaN,True
18,1019,Creed,Braton,N/a,N/a,N/a,Yes,True
19,1020,Anakin,Skywalker,876|678|3469,"910 Tatooine Road, Tatooine",Yes,N,True
20,1020,Anakin,Skywalker,876|678|3469,"910 Tatooine Road, Tatooine",Yes,N,True
21,1020,Anakin,RiverWalker,876|678|3469,"910 Tatooine Road, Tatooine",Yes,N,True

In [77]:
df_list = df_list.drop_duplicates()
df_list

,CustomerID,First_Name,Last_Name,Phone_Number,Address,Paying Customer,Do_Not_Contact,Not_Useful_Column
0,1001,Frodo,Baggins,123-545-5421,"123 Shire Lane, Shire",Yes,No,True
1,1002,Abed,Nadir,123/643/9775,93 West Main Street,No,Yes,False
2,1003,Walter,/White,7066950392,298 Drugs Driveway,N,NaN,True
3,1004,Dwight,Sc hrute,123-543-2345,"980 Paper Avenue, Pennsylvania, 18503",Yes,Y,True
4,1005,Jon,Snow white,876|678|3469,123 Dragons Road,Y,No,True
5,1006,Ron,Swa nson,304-762-2467,768 City Parkway,Yes,Yes,True
6,1007,Jeff,Winger,NaN,1209 South Street,No,No,False
7,1008,Sherlock,Holmes jr,876|678|3469,98 Clue Drive,N,No,False
8,1009,Gandalf,NaN,N/a,123 Middle Earth,Yes,NaN,False
9,1010,Peter,Parker,123-545-5421,"25th Main Street, New York",Yes,No,True
10,1011,Samwise,Gamgee,NaN,"612 Shire Lane, Shire",Yes,No,True
11,1012,Harry,...Potter,7066950392,2394 Hogwarts Avenue,Y,NaN,True
12,1013,Don,Draper,123-543-2345,2039 Main Street,Yes,N,False
13,1014,Leslie,Knope,876|678|3469,343 City Parkway,Yes,No,False
14,1015,Toby,Flenderson_,304-762-2467,214 HR Avenue,N,No,False
15,1016,Ron,Weasley,123-545-5421,2395 Hogwarts Avenue,No,N,False
16,1017,Michael,Scott,123/643/9775,"121 Paper Avenue, Pennsylvania",Yes,No,False
17,1018,Clark,Kent,7066950392,3498 Super Lane,Y,NaN,True
18,1019,Creed,Braton,N/a,N/a,N/a,Yes,True
19,1020,Anakin,Skywalker,876|678|3469,"910 Tatooine Road, Tatooine",Yes,N,True
21,1020,Anakin,RiverWalker,876|678|3469,"910 Tatooine Road, Tatooine",Yes,N,True

In [78]:
df_list = df_list.drop(columns = 'Not_Useful_Column')
df_list

,CustomerID,First_Name,Last_Name,Phone_Number,Address,Paying Customer,Do_Not_Contact
0,1001,Frodo,Baggins,123-545-5421,"123 Shire Lane, Shire",Yes,No
1,1002,Abed,Nadir,123/643/9775,93 West Main Street,No,Yes
2,1003,Walter,/White,7066950392,298 Drugs Driveway,N,NaN
3,1004,Dwight,Sc hrute,123-543-2345,"980 Paper Avenue, Pennsylvania, 18503",Yes,Y
4,1005,Jon,Snow white,876|678|3469,123 Dragons Road,Y,No
5,1006,Ron,Swa nson,304-762-2467,768 City Parkway,Yes,Yes
6,1007,Jeff,Winger,NaN,1209 South Street,No,No
7,1008,Sherlock,Holmes jr,876|678|3469,98 Clue Drive,N,No
8,1009,Gandalf,NaN,N/a,123 Middle Earth,Yes,NaN
9,1010,Peter,Parker,123-545-5421,"25th Main Street, New York",Yes,No
10,1011,Samwise,Gamgee,NaN,"612 Shire Lane, Shire",Yes,No
11,1012,Harry,...Potter,7066950392,2394 Hogwarts Avenue,Y,NaN
12,1013,Don,Draper,123-543-2345,2039 Main Street,Yes,N
13,1014,Leslie,Knope,876|678|3469,343 City Parkway,Yes,No
14,1015,Toby,Flenderson_,304-762-2467,214 HR Avenue,N,No
15,1016,Ron,Weasley,123-545-5421,2395 Hogwarts Avenue,No,N
16,1017,Michael,Scott,123/643/9775,"121 Paper Avenue, Pennsylvania",Yes,No
17,1018,Clark,Kent,7066950392,3498 Super Lane,Y,NaN
18,1019,Creed,Braton,N/a,N/a,N/a,Yes
19,1020,Anakin,Skywalker,876|678|3469,"910 Tatooine Road, Tatooine",Yes,N
21,1020,Anakin,RiverWalker,876|678|3469,"910 Tatooine Road, Tatooine",Yes,N

In [79]:
df_list["Last_Name"] = df_list["Last_Name"].str.strip("/._")
df_list["Last_Name"]

0         Baggins
1           Nadir
2           White
3        Sc hrute
4      Snow white
5        Swa nson
6          Winger
7       Holmes jr
8             NaN
9          Parker
10         Gamgee
11         Potter
12         Draper
13          Knope
14     Flenderson
15        Weasley
16          Scott
17           Kent
18         Braton
19      Skywalker
21    RiverWalker
Name: Last_Name, dtype: object

In [80]:
#Capitalize the first letter of the first word ONLY
df_list["Last_Name"] = df_list["Last_Name"].str.capitalize() 
# Capitalize starting letter of each word
df_list["Last_Name"] = df_list["Last_Name"].str.title() 
df_list["Last_Name"]

0         Baggins
1           Nadir
2           White
3        Sc Hrute
4      Snow White
5        Swa Nson
6          Winger
7       Holmes Jr
8             NaN
9          Parker
10         Gamgee
11         Potter
12         Draper
13          Knope
14     Flenderson
15        Weasley
16          Scott
17           Kent
18         Braton
19      Skywalker
21    Riverwalker
Name: Last_Name, dtype: object

In [81]:
#This will only remove whitespaces in ANY position of the string
df_list["Last_Name"] = df_list["Last_Name"].str.replace(" ", "", regex=False)

In [82]:
#This will remove ALL kinds of white spaces like tabs, newlines etc in ANY position of the string
df_list["Last_Name"] = df_list["Last_Name"].str.replace(r"\s+", "", regex=True)
df_list["Last_Name"]

0         Baggins
1           Nadir
2           White
3         ScHrute
4       SnowWhite
5         SwaNson
6          Winger
7        HolmesJr
8             NaN
9          Parker
10         Gamgee
11         Potter
12         Draper
13          Knope
14     Flenderson
15        Weasley
16          Scott
17           Kent
18         Braton
19      Skywalker
21    Riverwalker
Name: Last_Name, dtype: object

In [83]:
df_list

,CustomerID,First_Name,Last_Name,Phone_Number,Address,Paying Customer,Do_Not_Contact
0,1001,Frodo,Baggins,123-545-5421,"123 Shire Lane, Shire",Yes,No
1,1002,Abed,Nadir,123/643/9775,93 West Main Street,No,Yes
2,1003,Walter,White,7066950392,298 Drugs Driveway,N,NaN
3,1004,Dwight,ScHrute,123-543-2345,"980 Paper Avenue, Pennsylvania, 18503",Yes,Y
4,1005,Jon,SnowWhite,876|678|3469,123 Dragons Road,Y,No
5,1006,Ron,SwaNson,304-762-2467,768 City Parkway,Yes,Yes
6,1007,Jeff,Winger,NaN,1209 South Street,No,No
7,1008,Sherlock,HolmesJr,876|678|3469,98 Clue Drive,N,No
8,1009,Gandalf,NaN,N/a,123 Middle Earth,Yes,NaN
9,1010,Peter,Parker,123-545-5421,"25th Main Street, New York",Yes,No
10,1011,Samwise,Gamgee,NaN,"612 Shire Lane, Shire",Yes,No
11,1012,Harry,Potter,7066950392,2394 Hogwarts Avenue,Y,NaN
12,1013,Don,Draper,123-543-2345,2039 Main Street,Yes,N
13,1014,Leslie,Knope,876|678|3469,343 City Parkway,Yes,No
14,1015,Toby,Flenderson,304-762-2467,214 HR Avenue,N,No
15,1016,Ron,Weasley,123-545-5421,2395 Hogwarts Avenue,No,N
16,1017,Michael,Scott,123/643/9775,"121 Paper Avenue, Pennsylvania",Yes,No
17,1018,Clark,Kent,7066950392,3498 Super Lane,Y,NaN
18,1019,Creed,Braton,N/a,N/a,N/a,Yes
19,1020,Anakin,Skywalker,876|678|3469,"910 Tatooine Road, Tatooine",Yes,N
21,1020,Anakin,Riverwalker,876|678|3469,"910 Tatooine Road, Tatooine",Yes,N

In [84]:
#replace ALL with space except ALL that is included in the caret
df_list["Phone_Number"] = df_list["Phone_Number"].str.replace('[^a-zA-Z0-9]', '', regex =True)
df_list["Phone_Number"]

0     1235455421
1     1236439775
2            NaN
3     1235432345
4     8766783469
5     3047622467
6            NaN
7     8766783469
8             Na
9     1235455421
10           NaN
11           NaN
12    1235432345
13    8766783469
14    3047622467
15    1235455421
16    1236439775
17           NaN
18            Na
19    8766783469
21    8766783469
Name: Phone_Number, dtype: object

In [85]:
#Using regex to insert character in between any data type
df_list['Phone_Number'] = df_list['Phone_Number'].str.replace(r"^(\d{3})(\d{4})(\d+)$", r"\1-\2-\3", regex=True)
df_list['Phone_Number']

0     123-5455-421
1     123-6439-775
2              NaN
3     123-5432-345
4     876-6783-469
5     304-7622-467
6              NaN
7     876-6783-469
8               Na
9     123-5455-421
10             NaN
11             NaN
12    123-5432-345
13    876-6783-469
14    304-7622-467
15    123-5455-421
16    123-6439-775
17             NaN
18              Na
19    876-6783-469
21    876-6783-469
Name: Phone_Number, dtype: object

In [86]:
#replace ALL with space except ALL that is included in the caret
df_list["Phone_Number"] = df_list["Phone_Number"].str.replace('[^a-zA-Z0-9]', '', regex =True)
df_list["Phone_Number"]

0     1235455421
1     1236439775
2            NaN
3     1235432345
4     8766783469
5     3047622467
6            NaN
7     8766783469
8             Na
9     1235455421
10           NaN
11           NaN
12    1235432345
13    8766783469
14    3047622467
15    1235455421
16    1236439775
17           NaN
18            Na
19    8766783469
21    8766783469
Name: Phone_Number, dtype: object

In [87]:
#Using for loop to insert character in a string datatype
for i in df_list["Phone_Number"].index:
    val = str(df_list.at[i, 'Phone_Number'])  # convert every row to string
    if len(val) >= 7:  # basic check to avoid errors
        formatted = f"{val[:3]}-{val[3:7]}-{val[7:]}"
        df_list.at[i, 'Phone_Number'] = formatted
df_list["Phone_Number"]

0     123-5455-421
1     123-6439-775
2              NaN
3     123-5432-345
4     876-6783-469
5     304-7622-467
6              NaN
7     876-6783-469
8               Na
9     123-5455-421
10             NaN
11             NaN
12    123-5432-345
13    876-6783-469
14    304-7622-467
15    123-5455-421
16    123-6439-775
17             NaN
18              Na
19    876-6783-469
21    876-6783-469
Name: Phone_Number, dtype: object

In [88]:
print(df_list["Phone_Number"].apply(type))

0       <class 'str'>
1       <class 'str'>
2     <class 'float'>
3       <class 'str'>
4       <class 'str'>
5       <class 'str'>
6     <class 'float'>
7       <class 'str'>
8       <class 'str'>
9       <class 'str'>
10    <class 'float'>
11    <class 'float'>
12      <class 'str'>
13      <class 'str'>
14      <class 'str'>
15      <class 'str'>
16      <class 'str'>
17    <class 'float'>
18      <class 'str'>
19      <class 'str'>
21      <class 'str'>
Name: Phone_Number, dtype: object

In [89]:
#check if there is really a Nan or Null values
df_list['Phone_Number'].isna()

0     False
1     False
2      True
3     False
4     False
5     False
6      True
7     False
8     False
9     False
10     True
11     True
12    False
13    False
14    False
15    False
16    False
17     True
18    False
19    False
21    False
Name: Phone_Number, dtype: bool

In [90]:
#Replace NULL/Nan values with spaces
df_list['Phone_Number'] = df_list['Phone_Number'].fillna('')
df_list['Phone_Number']

0     123-5455-421
1     123-6439-775
2
3     123-5432-345
4     876-6783-469
5     304-7622-467
6
7     876-6783-469
8               Na
9     123-5455-421
10
11
12    123-5432-345
13    876-6783-469
14    304-7622-467
15    123-5455-421
16    123-6439-775
17
18              Na
19    876-6783-469
21    876-6783-469
Name: Phone_Number, dtype: object

In [91]:
print(df_list["Phone_Number"].apply(type))

0     <class 'str'>
1     <class 'str'>
2     <class 'str'>
3     <class 'str'>
4     <class 'str'>
5     <class 'str'>
6     <class 'str'>
7     <class 'str'>
8     <class 'str'>
9     <class 'str'>
10    <class 'str'>
11    <class 'str'>
12    <class 'str'>
13    <class 'str'>
14    <class 'str'>
15    <class 'str'>
16    <class 'str'>
17    <class 'str'>
18    <class 'str'>
19    <class 'str'>
21    <class 'str'>
Name: Phone_Number, dtype: object

In [92]:
df_list['Phone_Number'] = df_list['Phone_Number'].str.replace('Na','', regex = False)
df_list['Phone_Number']

0     123-5455-421
1     123-6439-775
2
3     123-5432-345
4     876-6783-469
5     304-7622-467
6
7     876-6783-469
8
9     123-5455-421
10
11
12    123-5432-345
13    876-6783-469
14    304-7622-467
15    123-5455-421
16    123-6439-775
17
18
19    876-6783-469
21    876-6783-469
Name: Phone_Number, dtype: object

In [93]:
df_list

,CustomerID,First_Name,Last_Name,Phone_Number,Address,Paying Customer,Do_Not_Contact
0,1001,Frodo,Baggins,123-5455-421,"123 Shire Lane, Shire",Yes,No
1,1002,Abed,Nadir,123-6439-775,93 West Main Street,No,Yes
2,1003,Walter,White,,298 Drugs Driveway,N,NaN
3,1004,Dwight,ScHrute,123-5432-345,"980 Paper Avenue, Pennsylvania, 18503",Yes,Y
4,1005,Jon,SnowWhite,876-6783-469,123 Dragons Road,Y,No
5,1006,Ron,SwaNson,304-7622-467,768 City Parkway,Yes,Yes
6,1007,Jeff,Winger,,1209 South Street,No,No
7,1008,Sherlock,HolmesJr,876-6783-469,98 Clue Drive,N,No
8,1009,Gandalf,NaN,,123 Middle Earth,Yes,NaN
9,1010,Peter,Parker,123-5455-421,"25th Main Street, New York",Yes,No
10,1011,Samwise,Gamgee,,"612 Shire Lane, Shire",Yes,No
11,1012,Harry,Potter,,2394 Hogwarts Avenue,Y,NaN
12,1013,Don,Draper,123-5432-345,2039 Main Street,Yes,N
13,1014,Leslie,Knope,876-6783-469,343 City Parkway,Yes,No
14,1015,Toby,Flenderson,304-7622-467,214 HR Avenue,N,No
15,1016,Ron,Weasley,123-5455-421,2395 Hogwarts Avenue,No,N
16,1017,Michael,Scott,123-6439-775,"121 Paper Avenue, Pennsylvania",Yes,No
17,1018,Clark,Kent,,3498 Super Lane,Y,NaN
18,1019,Creed,Braton,,N/a,N/a,Yes
19,1020,Anakin,Skywalker,876-6783-469,"910 Tatooine Road, Tatooine",Yes,N
21,1020,Anakin,Riverwalker,876-6783-469,"910 Tatooine Road, Tatooine",Yes,N

In [94]:
df_list["Address"].apply(type)

0     <class 'str'>
1     <class 'str'>
2     <class 'str'>
3     <class 'str'>
4     <class 'str'>
5     <class 'str'>
6     <class 'str'>
7     <class 'str'>
8     <class 'str'>
9     <class 'str'>
10    <class 'str'>
11    <class 'str'>
12    <class 'str'>
13    <class 'str'>
14    <class 'str'>
15    <class 'str'>
16    <class 'str'>
17    <class 'str'>
18    <class 'str'>
19    <class 'str'>
21    <class 'str'>
Name: Address, dtype: object

In [98]:
#splitting Address and creating new column 
df_list[["Street_address", "State", "Zip_code"]] = df_list["Address"].str.split(',',n=2 , expand=True)
df_list

,CustomerID,First_Name,Last_Name,Phone_Number,Address,Paying Customer,Do_Not_Contact,Street_address,State,Zip_code
0,1001,Frodo,Baggins,123-5455-421,"123 Shire Lane, Shire",Yes,No,123 Shire Lane,Shire,None
1,1002,Abed,Nadir,123-6439-775,93 West Main Street,No,Yes,93 West Main Street,None,None
2,1003,Walter,White,,298 Drugs Driveway,N,NaN,298 Drugs Driveway,None,None
3,1004,Dwight,ScHrute,123-5432-345,"980 Paper Avenue, Pennsylvania, 18503",Yes,Y,980 Paper Avenue,Pennsylvania,18503
4,1005,Jon,SnowWhite,876-6783-469,123 Dragons Road,Y,No,123 Dragons Road,None,None
5,1006,Ron,SwaNson,304-7622-467,768 City Parkway,Yes,Yes,768 City Parkway,None,None
6,1007,Jeff,Winger,,1209 South Street,No,No,1209 South Street,None,None
7,1008,Sherlock,HolmesJr,876-6783-469,98 Clue Drive,N,No,98 Clue Drive,None,None
8,1009,Gandalf,NaN,,123 Middle Earth,Yes,NaN,123 Middle Earth,None,None
9,1010,Peter,Parker,123-5455-421,"25th Main Street, New York",Yes,No,25th Main Street,New York,None
10,1011,Samwise,Gamgee,,"612 Shire Lane, Shire",Yes,No,612 Shire Lane,Shire,None
11,1012,Harry,Potter,,2394 Hogwarts Avenue,Y,NaN,2394 Hogwarts Avenue,None,None
12,1013,Don,Draper,123-5432-345,2039 Main Street,Yes,N,2039 Main Street,None,None
13,1014,Leslie,Knope,876-6783-469,343 City Parkway,Yes,No,343 City Parkway,None,None
14,1015,Toby,Flenderson,304-7622-467,214 HR Avenue,N,No,214 HR Avenue,None,None
15,1016,Ron,Weasley,123-5455-421,2395 Hogwarts Avenue,No,N,2395 Hogwarts Avenue,None,None
16,1017,Michael,Scott,123-6439-775,"121 Paper Avenue, Pennsylvania",Yes,No,121 Paper Avenue,Pennsylvania,None
17,1018,Clark,Kent,,3498 Super Lane,Y,NaN,3498 Super Lane,None,None
18,1019,Creed,Braton,,N/a,N/a,Yes,N/a,None,None
19,1020,Anakin,Skywalker,876-6783-469,"910 Tatooine Road, Tatooine",Yes,N,910 Tatooine Road,Tatooine,None
21,1020,Anakin,Riverwalker,876-6783-469,"910 Tatooine Road, Tatooine",Yes,N,910 Tatooine Road,Tatooine,None

In [ ]:
# import usaddress

# # Apply parsing to each address
# def parse_address(address_string):
#     try:
#         parsed_address, address_type = usaddress.tag(address_string)
#         return pd.Series([
#             parsed_address.get('AddressNumber', '') + ' ' + parsed_address.get('StreetName', '') + ' ' + parsed_address.get('StreetNamePostType', ''),
#             parsed_address.get('StateName', ''),
#             parsed_address.get('ZipCode', '')
#         ])
#     except:
#         return pd.Series(['', '', ''])  # Return empty values if parsing fails

# # Apply to your dataframe
# df_list[["Street_address", "State", "Zip_code"]] = df_list["Address"].apply(parse_address)

In [112]:
#str.replace() also replaces substrings causing result like "Yeses" and "Noo"
# df_list["Paying Customer"].str.replace('Y', 'Yes', regex=False)
# df_list["Paying Customer"].str.replace('N', 'No', regex=False)

# Pandas level replace() using dictionary
# df_list["Paying Customer"].replace({'Y': 'Yes', 'N': 'No', 'N/a': ''})
# Pandas level replace() using list
df_list["Paying Customer"] = df_list["Paying Customer"].replace(['Y', 'N', 'N/a'], ['Yes', 'No', ''])
df_list["Paying Customer"]

0     Yes
1      No
2      No
3     Yes
4     Yes
5     Yes
6      No
7      No
8     Yes
9     Yes
10    Yes
11    Yes
12    Yes
13    Yes
14     No
15     No
16    Yes
17    Yes
18
19    Yes
21    Yes
Name: Paying Customer, dtype: object

In [113]:
df_list

,CustomerID,First_Name,Last_Name,Phone_Number,Address,Paying Customer,Do_Not_Contact,Street_address,State,Zip_code
0,1001,Frodo,Baggins,123-5455-421,"123 Shire Lane, Shire",Yes,No,123 Shire Lane,Shire,None
1,1002,Abed,Nadir,123-6439-775,93 West Main Street,No,Yes,93 West Main Street,None,None
2,1003,Walter,White,,298 Drugs Driveway,No,NaN,298 Drugs Driveway,None,None
3,1004,Dwight,ScHrute,123-5432-345,"980 Paper Avenue, Pennsylvania, 18503",Yes,Y,980 Paper Avenue,Pennsylvania,18503
4,1005,Jon,SnowWhite,876-6783-469,123 Dragons Road,Yes,No,123 Dragons Road,None,None
5,1006,Ron,SwaNson,304-7622-467,768 City Parkway,Yes,Yes,768 City Parkway,None,None
6,1007,Jeff,Winger,,1209 South Street,No,No,1209 South Street,None,None
7,1008,Sherlock,HolmesJr,876-6783-469,98 Clue Drive,No,No,98 Clue Drive,None,None
8,1009,Gandalf,NaN,,123 Middle Earth,Yes,NaN,123 Middle Earth,None,None
9,1010,Peter,Parker,123-5455-421,"25th Main Street, New York",Yes,No,25th Main Street,New York,None
10,1011,Samwise,Gamgee,,"612 Shire Lane, Shire",Yes,No,612 Shire Lane,Shire,None
11,1012,Harry,Potter,,2394 Hogwarts Avenue,Yes,NaN,2394 Hogwarts Avenue,None,None
12,1013,Don,Draper,123-5432-345,2039 Main Street,Yes,N,2039 Main Street,None,None
13,1014,Leslie,Knope,876-6783-469,343 City Parkway,Yes,No,343 City Parkway,None,None
14,1015,Toby,Flenderson,304-7622-467,214 HR Avenue,No,No,214 HR Avenue,None,None
15,1016,Ron,Weasley,123-5455-421,2395 Hogwarts Avenue,No,N,2395 Hogwarts Avenue,None,None
16,1017,Michael,Scott,123-6439-775,"121 Paper Avenue, Pennsylvania",Yes,No,121 Paper Avenue,Pennsylvania,None
17,1018,Clark,Kent,,3498 Super Lane,Yes,NaN,3498 Super Lane,None,None
18,1019,Creed,Braton,,N/a,,Yes,N/a,None,None
19,1020,Anakin,Skywalker,876-6783-469,"910 Tatooine Road, Tatooine",Yes,N,910 Tatooine Road,Tatooine,None
21,1020,Anakin,Riverwalker,876-6783-469,"910 Tatooine Road, Tatooine",Yes,N,910 Tatooine Road,Tatooine,None

In [116]:
df_list['Do_Not_Contact'].dtype # check for whole column data type

dtype('O')

In [117]:
df_list["Do_Not_Contact"].apply(type)

0       <class 'str'>
1       <class 'str'>
2     <class 'float'>
3       <class 'str'>
4       <class 'str'>
5       <class 'str'>
6       <class 'str'>
7       <class 'str'>
8     <class 'float'>
9       <class 'str'>
10      <class 'str'>
11    <class 'float'>
12      <class 'str'>
13      <class 'str'>
14      <class 'str'>
15      <class 'str'>
16      <class 'str'>
17    <class 'float'>
18      <class 'str'>
19      <class 'str'>
21      <class 'str'>
Name: Do_Not_Contact, dtype: object

In [120]:
df_list["Do_Not_Contact"]

0      No
1     Yes
2     NaN
3       Y
4      No
5     Yes
6      No
7      No
8     NaN
9      No
10     No
11    NaN
12      N
13     No
14     No
15      N
16     No
17    NaN
18    Yes
19      N
21      N
Name: Do_Not_Contact, dtype: object

In [121]:
df_list["Do_Not_Contact"].isna()

0     False
1     False
2      True
3     False
4     False
5     False
6     False
7     False
8      True
9     False
10    False
11     True
12    False
13    False
14    False
15    False
16    False
17     True
18    False
19    False
21    False
Name: Do_Not_Contact, dtype: bool

In [129]:
df_list["Do_Not_Contact"] = df_list["Do_Not_Contact"].replace({'Y': 'Yes', 'N': 'No'})
df_list["Do_Not_Contact"]

0      No
1     Yes
2     NaN
3     Yes
4      No
5     Yes
6      No
7      No
8     NaN
9      No
10     No
11    NaN
12     No
13     No
14     No
15     No
16     No
17    NaN
18    Yes
19     No
21     No
Name: Do_Not_Contact, dtype: object

In [131]:
df_list["Do_Not_Contact"] = df_list["Do_Not_Contact"].fillna('')
df_list["Do_Not_Contact"]

0      No
1     Yes
2
3     Yes
4      No
5     Yes
6      No
7      No
8
9      No
10     No
11
12     No
13     No
14     No
15     No
16     No
17
18    Yes
19     No
21     No
Name: Do_Not_Contact, dtype: object

In [132]:
df_list

,CustomerID,First_Name,Last_Name,Phone_Number,Address,Paying Customer,Do_Not_Contact,Street_address,State,Zip_code
0,1001,Frodo,Baggins,123-5455-421,"123 Shire Lane, Shire",Yes,No,123 Shire Lane,Shire,None
1,1002,Abed,Nadir,123-6439-775,93 West Main Street,No,Yes,93 West Main Street,None,None
2,1003,Walter,White,,298 Drugs Driveway,No,,298 Drugs Driveway,None,None
3,1004,Dwight,ScHrute,123-5432-345,"980 Paper Avenue, Pennsylvania, 18503",Yes,Yes,980 Paper Avenue,Pennsylvania,18503
4,1005,Jon,SnowWhite,876-6783-469,123 Dragons Road,Yes,No,123 Dragons Road,None,None
5,1006,Ron,SwaNson,304-7622-467,768 City Parkway,Yes,Yes,768 City Parkway,None,None
6,1007,Jeff,Winger,,1209 South Street,No,No,1209 South Street,None,None
7,1008,Sherlock,HolmesJr,876-6783-469,98 Clue Drive,No,No,98 Clue Drive,None,None
8,1009,Gandalf,NaN,,123 Middle Earth,Yes,,123 Middle Earth,None,None
9,1010,Peter,Parker,123-5455-421,"25th Main Street, New York",Yes,No,25th Main Street,New York,None
10,1011,Samwise,Gamgee,,"612 Shire Lane, Shire",Yes,No,612 Shire Lane,Shire,None
11,1012,Harry,Potter,,2394 Hogwarts Avenue,Yes,,2394 Hogwarts Avenue,None,None
12,1013,Don,Draper,123-5432-345,2039 Main Street,Yes,No,2039 Main Street,None,None
13,1014,Leslie,Knope,876-6783-469,343 City Parkway,Yes,No,343 City Parkway,None,None
14,1015,Toby,Flenderson,304-7622-467,214 HR Avenue,No,No,214 HR Avenue,None,None
15,1016,Ron,Weasley,123-5455-421,2395 Hogwarts Avenue,No,No,2395 Hogwarts Avenue,None,None
16,1017,Michael,Scott,123-6439-775,"121 Paper Avenue, Pennsylvania",Yes,No,121 Paper Avenue,Pennsylvania,None
17,1018,Clark,Kent,,3498 Super Lane,Yes,,3498 Super Lane,None,None
18,1019,Creed,Braton,,N/a,,Yes,N/a,None,None
19,1020,Anakin,Skywalker,876-6783-469,"910 Tatooine Road, Tatooine",Yes,No,910 Tatooine Road,Tatooine,None
21,1020,Anakin,Riverwalker,876-6783-469,"910 Tatooine Road, Tatooine",Yes,No,910 Tatooine Road,Tatooine,None

In [ ]:
#Replace the entire table
# df_list = df_list.replace({'Y': 'Yes', 'N': 'No'})

In [133]:
#Check for the null values on the entire table
df_list.isna()

,CustomerID,First_Name,Last_Name,Phone_Number,Address,Paying Customer,Do_Not_Contact,Street_address,State,Zip_code
0,False,False,False,False,False,False,False,False,False,True
1,False,False,False,False,False,False,False,False,True,True
2,False,False,False,False,False,False,False,False,True,True
3,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,True,True
5,False,False,False,False,False,False,False,False,True,True
6,False,False,False,False,False,False,False,False,True,True
7,False,False,False,False,False,False,False,False,True,True
8,False,False,True,False,False,False,False,False,True,True
9,False,False,False,False,False,False,False,False,False,True
10,False,False,False,False,False,False,False,False,False,True
11,False,False,False,False,False,False,False,False,True,True
12,False,False,False,False,False,False,False,False,True,True
13,False,False,False,False,False,False,False,False,True,True
14,False,False,False,False,False,False,False,False,True,True
15,False,False,False,False,False,False,False,False,True,True
16,False,False,False,False,False,False,False,False,False,True
17,False,False,False,False,False,False,False,False,True,True
18,False,False,False,False,False,False,False,False,True,True
19,False,False,False,False,False,False,False,False,False,True
21,False,False,False,False,False,False,False,False,False,True

In [135]:
#put empty space on null values ion the entire table
df_list = df_list.fillna('')

In [136]:
df_list

,CustomerID,First_Name,Last_Name,Phone_Number,Address,Paying Customer,Do_Not_Contact,Street_address,State,Zip_code
0,1001,Frodo,Baggins,123-5455-421,"123 Shire Lane, Shire",Yes,No,123 Shire Lane,Shire,
1,1002,Abed,Nadir,123-6439-775,93 West Main Street,No,Yes,93 West Main Street,,
2,1003,Walter,White,,298 Drugs Driveway,No,,298 Drugs Driveway,,
3,1004,Dwight,ScHrute,123-5432-345,"980 Paper Avenue, Pennsylvania, 18503",Yes,Yes,980 Paper Avenue,Pennsylvania,18503
4,1005,Jon,SnowWhite,876-6783-469,123 Dragons Road,Yes,No,123 Dragons Road,,
5,1006,Ron,SwaNson,304-7622-467,768 City Parkway,Yes,Yes,768 City Parkway,,
6,1007,Jeff,Winger,,1209 South Street,No,No,1209 South Street,,
7,1008,Sherlock,HolmesJr,876-6783-469,98 Clue Drive,No,No,98 Clue Drive,,
8,1009,Gandalf,,,123 Middle Earth,Yes,,123 Middle Earth,,
9,1010,Peter,Parker,123-5455-421,"25th Main Street, New York",Yes,No,25th Main Street,New York,
10,1011,Samwise,Gamgee,,"612 Shire Lane, Shire",Yes,No,612 Shire Lane,Shire,
11,1012,Harry,Potter,,2394 Hogwarts Avenue,Yes,,2394 Hogwarts Avenue,,
12,1013,Don,Draper,123-5432-345,2039 Main Street,Yes,No,2039 Main Street,,
13,1014,Leslie,Knope,876-6783-469,343 City Parkway,Yes,No,343 City Parkway,,
14,1015,Toby,Flenderson,304-7622-467,214 HR Avenue,No,No,214 HR Avenue,,
15,1016,Ron,Weasley,123-5455-421,2395 Hogwarts Avenue,No,No,2395 Hogwarts Avenue,,
16,1017,Michael,Scott,123-6439-775,"121 Paper Avenue, Pennsylvania",Yes,No,121 Paper Avenue,Pennsylvania,
17,1018,Clark,Kent,,3498 Super Lane,Yes,,3498 Super Lane,,
18,1019,Creed,Braton,,N/a,,Yes,N/a,,
19,1020,Anakin,Skywalker,876-6783-469,"910 Tatooine Road, Tatooine",Yes,No,910 Tatooine Road,Tatooine,
21,1020,Anakin,Riverwalker,876-6783-469,"910 Tatooine Road, Tatooine",Yes,No,910 Tatooine Road,Tatooine,

In [138]:
filtered_rows = df_list[df_list['Do_Not_Contact'] == 'No']
filtered_rows

,CustomerID,First_Name,Last_Name,Phone_Number,Address,Paying Customer,Do_Not_Contact,Street_address,State,Zip_code
0,1001,Frodo,Baggins,123-5455-421,"123 Shire Lane, Shire",Yes,No,123 Shire Lane,Shire,
4,1005,Jon,SnowWhite,876-6783-469,123 Dragons Road,Yes,No,123 Dragons Road,,
6,1007,Jeff,Winger,,1209 South Street,No,No,1209 South Street,,
7,1008,Sherlock,HolmesJr,876-6783-469,98 Clue Drive,No,No,98 Clue Drive,,
9,1010,Peter,Parker,123-5455-421,"25th Main Street, New York",Yes,No,25th Main Street,New York,
10,1011,Samwise,Gamgee,,"612 Shire Lane, Shire",Yes,No,612 Shire Lane,Shire,
12,1013,Don,Draper,123-5432-345,2039 Main Street,Yes,No,2039 Main Street,,
13,1014,Leslie,Knope,876-6783-469,343 City Parkway,Yes,No,343 City Parkway,,
14,1015,Toby,Flenderson,304-7622-467,214 HR Avenue,No,No,214 HR Avenue,,
15,1016,Ron,Weasley,123-5455-421,2395 Hogwarts Avenue,No,No,2395 Hogwarts Avenue,,
16,1017,Michael,Scott,123-6439-775,"121 Paper Avenue, Pennsylvania",Yes,No,121 Paper Avenue,Pennsylvania,
19,1020,Anakin,Skywalker,876-6783-469,"910 Tatooine Road, Tatooine",Yes,No,910 Tatooine Road,Tatooine,
21,1020,Anakin,Riverwalker,876-6783-469,"910 Tatooine Road, Tatooine",Yes,No,910 Tatooine Road,Tatooine,

In [149]:
df_list['Phone_Number'].isna()

0     False
1     False
2     False
3     False
4     False
5     False
6     False
7     False
8     False
9     False
10    False
11    False
12    False
13    False
14    False
15    False
16    False
17    False
18    False
19    False
21    False
Name: Phone_Number, dtype: bool

In [151]:
filtered_rows = df_list[
    (df_list['Do_Not_Contact'] == 'No') &
    (df_list['Phone_Number'] != '')]
filtered_rows

,CustomerID,First_Name,Last_Name,Phone_Number,Address,Paying Customer,Do_Not_Contact,Street_address,State,Zip_code
0,1001,Frodo,Baggins,123-5455-421,"123 Shire Lane, Shire",Yes,No,123 Shire Lane,Shire,
4,1005,Jon,SnowWhite,876-6783-469,123 Dragons Road,Yes,No,123 Dragons Road,,
7,1008,Sherlock,HolmesJr,876-6783-469,98 Clue Drive,No,No,98 Clue Drive,,
9,1010,Peter,Parker,123-5455-421,"25th Main Street, New York",Yes,No,25th Main Street,New York,
12,1013,Don,Draper,123-5432-345,2039 Main Street,Yes,No,2039 Main Street,,
13,1014,Leslie,Knope,876-6783-469,343 City Parkway,Yes,No,343 City Parkway,,
14,1015,Toby,Flenderson,304-7622-467,214 HR Avenue,No,No,214 HR Avenue,,
15,1016,Ron,Weasley,123-5455-421,2395 Hogwarts Avenue,No,No,2395 Hogwarts Avenue,,
16,1017,Michael,Scott,123-6439-775,"121 Paper Avenue, Pennsylvania",Yes,No,121 Paper Avenue,Pennsylvania,
19,1020,Anakin,Skywalker,876-6783-469,"910 Tatooine Road, Tatooine",Yes,No,910 Tatooine Road,Tatooine,
21,1020,Anakin,Riverwalker,876-6783-469,"910 Tatooine Road, Tatooine",Yes,No,910 Tatooine Road,Tatooine,

In [168]:
filtered_rows = filtered_rows.reset_index(drop=True)
filtered_rows

,CustomerID,First_Name,Last_Name,Phone_Number,Address,Paying Customer,Do_Not_Contact,Street_address,State,Zip_code
0,1001,Frodo,Baggins,123-5455-421,"123 Shire Lane, Shire",Yes,No,123 Shire Lane,Shire,
1,1005,Jon,SnowWhite,876-6783-469,123 Dragons Road,Yes,No,123 Dragons Road,,
2,1008,Sherlock,HolmesJr,876-6783-469,98 Clue Drive,No,No,98 Clue Drive,,
3,1010,Peter,Parker,123-5455-421,"25th Main Street, New York",Yes,No,25th Main Street,New York,
4,1013,Don,Draper,123-5432-345,2039 Main Street,Yes,No,2039 Main Street,,
5,1014,Leslie,Knope,876-6783-469,343 City Parkway,Yes,No,343 City Parkway,,
6,1015,Toby,Flenderson,304-7622-467,214 HR Avenue,No,No,214 HR Avenue,,
7,1016,Ron,Weasley,123-5455-421,2395 Hogwarts Avenue,No,No,2395 Hogwarts Avenue,,
8,1017,Michael,Scott,123-6439-775,"121 Paper Avenue, Pennsylvania",Yes,No,121 Paper Avenue,Pennsylvania,
9,1020,Anakin,Skywalker,876-6783-469,"910 Tatooine Road, Tatooine",Yes,No,910 Tatooine Road,Tatooine,
10,1020,Anakin,Riverwalker,876-6783-469,"910 Tatooine Road, Tatooine",Yes,No,910 Tatooine Road,Tatooine,

In [161]:
filtered_rows = filtered_rows.drop(columns = [col for col in filtered_rows.columns if col.startswith(('index', 'level_0'))])
filtered_rows

,CustomerID,First_Name,Last_Name,Phone_Number,Address,Paying Customer,Do_Not_Contact,Street_address,State,Zip_code
0,1001,Frodo,Baggins,123-5455-421,"123 Shire Lane, Shire",Yes,No,123 Shire Lane,Shire,
1,1005,Jon,SnowWhite,876-6783-469,123 Dragons Road,Yes,No,123 Dragons Road,,
2,1008,Sherlock,HolmesJr,876-6783-469,98 Clue Drive,No,No,98 Clue Drive,,
3,1010,Peter,Parker,123-5455-421,"25th Main Street, New York",Yes,No,25th Main Street,New York,
4,1013,Don,Draper,123-5432-345,2039 Main Street,Yes,No,2039 Main Street,,
5,1014,Leslie,Knope,876-6783-469,343 City Parkway,Yes,No,343 City Parkway,,
6,1015,Toby,Flenderson,304-7622-467,214 HR Avenue,No,No,214 HR Avenue,,
7,1016,Ron,Weasley,123-5455-421,2395 Hogwarts Avenue,No,No,2395 Hogwarts Avenue,,
8,1017,Michael,Scott,123-6439-775,"121 Paper Avenue, Pennsylvania",Yes,No,121 Paper Avenue,Pennsylvania,
9,1020,Anakin,Skywalker,876-6783-469,"910 Tatooine Road, Tatooine",Yes,No,910 Tatooine Road,Tatooine,
10,1020,Anakin,Riverwalker,876-6783-469,"910 Tatooine Road, Tatooine",Yes,No,910 Tatooine Road,Tatooine,

In [162]:
filtered_rows.to_csv(r'C:\Users\FRED\Desktop\FreeCodeCamp- Data Analyst BootCamp for Beginners\Cleaned File\Customer_contact.csv')

In [173]:
df_list = pd.read_excel(r"C:\Users\FRED\Desktop\FreeCodeCamp- Data Analyst BootCamp for Beginners\PandasYouTubeSeries\Customer Call List.xlsx")
df_list

,CustomerID,First_Name,Last_Name,Phone_Number,Address,Paying Customer,Do_Not_Contact,Not_Useful_Column
0,1001,Frodo,Baggins,123-545-5421,"123 Shire Lane, Shire",Yes,No,True
1,1002,Abed,Nadir,123/643/9775,93 West Main Street,No,Yes,False
2,1003,Walter,/White,7066950392,298 Drugs Driveway,N,NaN,True
3,1004,Dwight,Sc hrute,123-543-2345,"980 Paper Avenue, Pennsylvania, 18503",Yes,Y,True
4,1005,Jon,Snow white,876|678|3469,123 Dragons Road,Y,No,True
5,1006,Ron,Swa nson,304-762-2467,768 City Parkway,Yes,Yes,True
6,1007,Jeff,Winger,NaN,1209 South Street,No,No,False
7,1008,Sherlock,Holmes jr,876|678|3469,98 Clue Drive,N,No,False
8,1009,Gandalf,NaN,N/a,123 Middle Earth,Yes,NaN,False
9,1010,Peter,Parker,123-545-5421,"25th Main Street, New York",Yes,No,True
10,1011,Samwise,Gamgee,NaN,"612 Shire Lane, Shire",Yes,No,True
11,1012,Harry,...Potter,7066950392,2394 Hogwarts Avenue,Y,NaN,True
12,1013,Don,Draper,123-543-2345,2039 Main Street,Yes,N,False
13,1014,Leslie,Knope,876|678|3469,343 City Parkway,Yes,No,False
14,1015,Toby,Flenderson_,304-762-2467,214 HR Avenue,N,No,False
15,1016,Ron,Weasley,123-545-5421,2395 Hogwarts Avenue,No,N,False
16,1017,Michael,Scott,123/643/9775,"121 Paper Avenue, Pennsylvania",Yes,No,False
17,1018,Clark,Kent,7066950392,3498 Super Lane,Y,NaN,True
18,1019,Creed,Braton,N/a,N/a,N/a,Yes,True
19,1020,Anakin,Skywalker,876|678|3469,"910 Tatooine Road, Tatooine",Yes,N,True
20,1020,Anakin,Skywalker,876|678|3469,"910 Tatooine Road, Tatooine",Yes,N,True
21,1020,Anakin,RiverWalker,876|678|3469,"910 Tatooine Road, Tatooine",Yes,N,True

In [174]:
df_list.isna()

,CustomerID,First_Name,Last_Name,Phone_Number,Address,Paying Customer,Do_Not_Contact,Not_Useful_Column
0,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,True,False
3,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False
5,False,False,False,False,False,False,False,False
6,False,False,False,True,False,False,False,False
7,False,False,False,False,False,False,False,False
8,False,False,True,False,False,False,True,False
9,False,False,False,False,False,False,False,False
10,False,False,False,True,False,False,False,False
11,False,False,False,False,False,False,True,False
12,False,False,False,False,False,False,False,False
13,False,False,False,False,False,False,False,False
14,False,False,False,False,False,False,False,False
15,False,False,False,False,False,False,False,False
16,False,False,False,False,False,False,False,False
17,False,False,False,False,False,False,True,False
18,False,False,False,False,False,False,False,False
19,False,False,False,False,False,False,False,False
20,False,False,False,False,False,False,False,False
21,False,False,False,False,False,False,False,False

In [176]:
df_list.dropna(inplace =True)
df_list

,CustomerID,First_Name,Last_Name,Phone_Number,Address,Paying Customer,Do_Not_Contact,Not_Useful_Column
0,1001,Frodo,Baggins,123-545-5421,"123 Shire Lane, Shire",Yes,No,True
1,1002,Abed,Nadir,123/643/9775,93 West Main Street,No,Yes,False
3,1004,Dwight,Sc hrute,123-543-2345,"980 Paper Avenue, Pennsylvania, 18503",Yes,Y,True
4,1005,Jon,Snow white,876|678|3469,123 Dragons Road,Y,No,True
5,1006,Ron,Swa nson,304-762-2467,768 City Parkway,Yes,Yes,True
7,1008,Sherlock,Holmes jr,876|678|3469,98 Clue Drive,N,No,False
9,1010,Peter,Parker,123-545-5421,"25th Main Street, New York",Yes,No,True
12,1013,Don,Draper,123-543-2345,2039 Main Street,Yes,N,False
13,1014,Leslie,Knope,876|678|3469,343 City Parkway,Yes,No,False
14,1015,Toby,Flenderson_,304-762-2467,214 HR Avenue,N,No,False
15,1016,Ron,Weasley,123-545-5421,2395 Hogwarts Avenue,No,N,False
16,1017,Michael,Scott,123/643/9775,"121 Paper Avenue, Pennsylvania",Yes,No,False
18,1019,Creed,Braton,N/a,N/a,N/a,Yes,True
19,1020,Anakin,Skywalker,876|678|3469,"910 Tatooine Road, Tatooine",Yes,N,True
20,1020,Anakin,Skywalker,876|678|3469,"910 Tatooine Road, Tatooine",Yes,N,True
21,1020,Anakin,RiverWalker,876|678|3469,"910 Tatooine Road, Tatooine",Yes,N,True

In [171]:
df_list.dropna(subset = "Phone_Number", inplace =True)

In [172]:
df_list

,CustomerID,First_Name,Last_Name,Phone_Number,Address,Paying Customer,Do_Not_Contact,Not_Useful_Column
0,1001,Frodo,Baggins,123-545-5421,"123 Shire Lane, Shire",Yes,No,True
1,1002,Abed,Nadir,123/643/9775,93 West Main Street,No,Yes,False
2,1003,Walter,/White,7066950392,298 Drugs Driveway,N,NaN,True
3,1004,Dwight,Sc hrute,123-543-2345,"980 Paper Avenue, Pennsylvania, 18503",Yes,Y,True
4,1005,Jon,Snow white,876|678|3469,123 Dragons Road,Y,No,True
5,1006,Ron,Swa nson,304-762-2467,768 City Parkway,Yes,Yes,True
7,1008,Sherlock,Holmes jr,876|678|3469,98 Clue Drive,N,No,False
8,1009,Gandalf,NaN,N/a,123 Middle Earth,Yes,NaN,False
9,1010,Peter,Parker,123-545-5421,"25th Main Street, New York",Yes,No,True
11,1012,Harry,...Potter,7066950392,2394 Hogwarts Avenue,Y,NaN,True
12,1013,Don,Draper,123-543-2345,2039 Main Street,Yes,N,False
13,1014,Leslie,Knope,876|678|3469,343 City Parkway,Yes,No,False
14,1015,Toby,Flenderson_,304-762-2467,214 HR Avenue,N,No,False
15,1016,Ron,Weasley,123-545-5421,2395 Hogwarts Avenue,No,N,False
16,1017,Michael,Scott,123/643/9775,"121 Paper Avenue, Pennsylvania",Yes,No,False
17,1018,Clark,Kent,7066950392,3498 Super Lane,Y,NaN,True
18,1019,Creed,Braton,N/a,N/a,N/a,Yes,True
19,1020,Anakin,Skywalker,876|678|3469,"910 Tatooine Road, Tatooine",Yes,N,True
20,1020,Anakin,Skywalker,876|678|3469,"910 Tatooine Road, Tatooine",Yes,N,True
21,1020,Anakin,RiverWalker,876|678|3469,"910 Tatooine Road, Tatooine",Yes,N,True